/* MEDIA */
/*  1480 --------------------------------------------------------------- */
@media (max-width: 1480px) {
  body {
    overflow-x: hidden;
  }
  .container {
    margin: 0 20px;
    width: auto;
  }
}

/*  1024 --------------------------------------------------------------- */

@media (max-width: 1024px) {
  :root {
    --font1: 50px;
    --font2: 28px;
  }
  body {
    overflow-x: hidden;
  }
  .container {
    max-width: 984px;
    padding: 60px 0;
  }
  h2 {
    font-size: var(--font1);
    line-height: 75px;
  }
  .header-container {
    padding: 49px 0 48px;
    width: calc(100% - 20pt);
  }
   .logo {
    width: 194px;
  }
  .logo-text {
    width: 120px;
  }
  .nav-burger-menu {
    position: relative;
    width: 32px;
    height: 18px;
    background-image: url("assets/svg/menu/burger-menu.svg");
    display: flex;
    cursor: pointer;
    z-index: 10;
  }
  .navigation-list {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 23px;
    margin: 0;
  }

  .nav-header {
    display: none;
  }

/* welcome section */

  .welcome-section h2 {
    padding-top: 50px;
    line-height: 90px;
  }
  .welcome-section {
    width: 984px;
    height: 585px;
    background-size: 700px;
    padding: 0;
  }
  .welcome-section p {
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 50px;
  }
  .welcome-section a {
    font-size: 20px;
    line-height: 23px;
    /* margin-bottom: 192px; */
    width: 300px;
    height: 60px;
  }
  .welcome-pagination-container {
    width: 100%;
    max-width: 700px;
    padding-right: 75px;
    padding-left: 224px;
    gap: 45px;
  }
  .pagination-text {
    column-gap: 10px;
    padding: 0;

  }
  .pagination-text p {
    font-size: 20px;
    padding-bottom: 0;
    letter-spacing: 0;
  }
  .pagination-squares-item {
    width: 12px;
    height: 12px;
  }
  .pagination-arrows {
    column-gap: 20px;
    padding: 0;

  }

  /* virtual tour section */

  h3 {
    font-size: var(--font2);
    letter-spacing: 3px;
    line-height: 31px;
  }

  .big-red-line {
    width: 984px;
    margin-top: 20px;
    margin-bottom: 60px;
  }
  .visiting-cards {
    row-gap: 60px;
    column-gap: 108px;
  }
  .visiting-item {
    height: 345px;
  }
  .visiting-item img {
    max-width: 330px;
    max-height: 215px;
  }
  .visiting-item-line {
    width: 150px;
  }
  .visiting-item:hover .visiting-item-line {
    width: 330px;
  }
  .visiting-item p {
    font-size: 20px;
    line-height: 23px;
  }
  .visiting-item a {
    font-size: 16px;
    line-height: 19px;
  }

  /* explore section */

  .explore-section {
    display: flex;
    flex-direction: column;
    gap: 62px;
  }
  .red-line-explore {
    max-width: 984px;
    margin-bottom: 60px;
    margin-top: 20px;
  }
  .explore-section p {
    font-size: 20px;
  }
  .explore-left p:nth-of-type(2) {
    line-height: 35px;
  }
  .explore-left {
    max-width: 984px;
    gap: 0;
  }
  .explore-left p:last-of-type {
    display: none;
  }
  .explore-right {
    margin: 0 auto;
  }

  /* video section */
  .video-section {
    width: 984px;
  }
  .video-top {
    padding-bottom: 40px;
  }
  .video-top p {
    display: none;
  }
  .video-center img {
    max-width: 984px;
    max-height: 444px;
    /* object-fit: cover; */
    object-position: center;
  }
  .play-big-button {
    width: 152px;
    height: 152px;
    top: 146px;
    left: 416px;
    background-size: contain;
  }
  /* video bar BIG */
  .video-bar {
    width: 984px;
    height: 60px;
  }
  .play-button {
    width: 23px;
    height: 30px;
    top: 15px;
    left: 40px;
    background-size: contain;
  }
  .play-button:hover {
    width: 23px;
    height: 30px;
    top: 15px;
    left: 40px;
  }
  .play-button:active {
    width: 23px;
    height: 30px;
    top: 15px;
    left: 40px;
  }
  .play-line {
    top: 27px;
    left: 93px;
  }
  .play-line-red {
    width: 228px;
    height: 5px;
  }
  .play-line-dot {
    width: 13px;
    height: 13px;
  }
  .play-line-white {
    width: 336px;
    height: 5px;
  }
  .audio-button {
    width: 26px;
    height: 20px;
    top: 20px;
    right: 270px;
    background-size: contain;
  }
  .audio-button:hover {
    width: 26px;
    height: 20px;
    top: 20px;
    right: 270px;
  }
  .audio-button:active {
    width: 26px;
    height: 20px;
    top: 20px;
    right: 270px;
  }
  .audio-line {
    top: 23px;
    right: 96px;
  }
  .audio-line-red {
    width: 56px;
    height: 5px;
  }
  .audio-line-dot {
    width: 13px;
    height: 13px;
  }
  .audio-line-white {
    width: 81px;
    height: 5px;
  }
  .fullscreen-button {
    width: 26px;
    height: 26px;
    top: 17px;
    right: 40px;
    background-size: contain;
  }
  .fullscreen-button:hover {
    width: 26px;
    height: 26px;
    top: 17px;
    right: 40px;
  }
  .fullscreen-button:active {
    width: 26px;
    height: 26px;
    top: 17px;
    right: 40px;
  }

  /* video bottom part */
  .video-bottom {
    padding-bottom: 40px;
  }
  /* video mini bars */
  .video-bottom-item {
    height: 170px;
  }
  .video-bottom img {
    width: 300px;
    height: 170px;
  }
  .youtube-play-button {
    top: 61px;
    left: 116px;
  }
  .video-text-container {
    top: 10px;
    left: 10px;
    width: 255px;
  }
  .video-text-left {
    row-gap: 5px;
  }
  .video-text p {
    line-height: 38px;
    padding-left: 5px;
    width: 188px;
    overflow: hidden;
    white-space: nowrap;
  }

  /* gallery section */
  .gallery-section {
    max-width: 984px;
    padding-bottom: 0;
  }
  .gallery-grid {
    max-height: calc(1265px + 60px);
    padding-top: 60px;
  }
  .gallery-grid img {
    max-width: 304px;
  }

  /* tickets section */
  .tickets-section {
    width: 984px;
  }
  .tickets-container {
    height: 440px;
    gap: 80px;
  }

  /* .tickets-left img {
    width: clamp(700px, 37.5vw, 720px);
    height: clamp(440px, 28.65vw, 550px);
    object-fit: cover;
  } */
   .input-wrapper {
    width: 175px;
    justify-content: space-between;
  }
  .tickets-right-title {
    padding-bottom: 25px;
  }
  .tickets-right-l {
    display: none;
  }
  .tickets-right-r {
    align-items: flex-start;
  }
  .tickets-right-r label {
    padding-bottom: 10px;
    padding-top: 4px;
  }
  .amount-form-container {
    gap: 25px;
  }
  .price {
    padding-top: 0;
    padding-bottom: 69px;
  }
  .span-price {
    padding-left: 16.17px;
  }
  /* parallax */

  .parallax {
    background-position: 50vh;
  }

  /* contacts section */

  .contacts-body-top {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 35px;
  }
  .bold-text {
    font-size: 24px;
    line-height: 28px;
  }
  .contacts-body-bottom p,
  .contacts-body-bottom a {
    font-size: 20px;
    line-height: 23px;
  }
  .contacts-body-bottom p:not(:last-of-type) {
    margin-bottom: 15px;
  }
  .map-right {
    max-width: 694px;
    height: 456px;
  }
  /* .map-right img {
    width: calc(100vw - 330px);
    height: calc(65vw - 212px);
  } */
  
  /* footer */
  .footer-container {
    width: 984px;
    padding-bottom: 50px;
  }
  .footer-top {
    padding-bottom: 50px;
  }
  .footer-top-right {
    column-gap: 45px;
  }

  .navigation-list.nav-footer { 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 313px;
    height: 128px;
    justify-content: center;
    align-items: flex-start;
    column-gap: 100px;
    row-gap: 25px;
    margin-top: 5px;
  }
  .nav-footer a {
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 26px;
    font-weight: 200;
  }
  .nav-footer .nav-list-item {
    width: 107px;
  }
  .navigation-list.nav-footer li {
    padding-bottom: 0;
  }
  .social-links-list {
    margin-block-end: 0px;
    column-gap: 25px;
  }

  .social-links-item {
    width: 48px;
    height: 48px;
  }
  .footer-line {
    max-width: 100%;
    /* margin-left: calc(-50vw + 50%); */
  }
}

/*  768 ---------------------------------------------------------------- */

@media (max-width: 768px) {
  .parallax {
    width: 100%;
    height: 300px;
    background-position: center;
  }
  :root {
    --font1: 40px;
    --font2: 22px;
  }
  body {
    overflow-x: hidden;
  }
  .container {
    margin: 0 20px;
    max-width: 728px;
    padding: 40px 0;
  }
  
  h2 {
    font-size: var(--font1);
    line-height: 60px;
  }
  .logo {
    width: 199px;
    height: 41px;
    align-items: center;
  }
  .logo-text {
    width: 125px;
    margin-top: 9px;
    /* height: 41px;
    text-align: center; */
  }
  .header-container {
    padding: 35px 0 34px;
  }
  /* welcome section */
  .welcome-section {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    height: auto;
    padding-top: 0;
    padding-bottom: 30px;
  }
  .welcome-section h2 {
    padding-top: 0;
    padding-bottom: 25px;
    text-align: center;
    line-height: 60px;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  .welcome-section p {
    font-size: 20px;
    line-height: 23px;
    padding-bottom: 47px;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;

  }
  .welcome-section a {
    display: none;
  }

  .welcome-image-mobile img {
    width: 100%;
    max-width: 728px;
    height: auto;
    max-height: 546px;
    display: block;
    margin-bottom: 30px;
  }
  .welcome-pagination-container {
    position: static;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 45px;
    height: 40px;
    padding-right: 0;
    padding-left: 0;
    /* max-width: 700px;
    width: 100%; */

  }
  .pagination-text {
    /* column-gap: 10px; */
    padding: 0;
    /* padding-right: 45px;
    padding-left: 224px; */
  }
  .pagination-text p {
    margin: 0;
    padding: 0;
  }
  .pagination-arrows {
    padding: 0;
  }


    /* virtual tour section */

  h3 {
    font-size: var(--font2);
    line-height: 24px;
  }

  .big-red-line {
    width: 728px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .visiting-cards {
    row-gap: 40px;
    column-gap: 56px;
    margin-bottom: 40px;
  }
  .visiting-item {
    height: 301px;
  }
  .visiting-item img {
    max-width: 280px;
    max-height: 180px;
  }
  .visiting-item:hover .visiting-item-line {
    width: 280px;
  }
  .visiting-item p {
    font-size: 18px;
    line-height: 21px;
  }

/* explore section */
  .explore-section {
    gap: 0;
  }
  .red-line-explore {
    max-width: 728px;
    margin-bottom: 40px;
  }
  .explore-section p {
    display: none;
  }
  .explore-right {
    position: relative;
    width: 100%;
    max-width: 728px;
    min-height: 705px;
    margin-top: 0;
  }
  .slider-handle {
    background-image: url(assets/svg/explore-slider-768.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 39px;
    height: 705px;
    left: 57.8%;
  }
  .after {
    clip-path: inset(0 0 0 60.5%);
  }
   /* video section */
  .video-section {
    width: 728px;
  }
  .video-top {
    padding-bottom: 20px;
  }
  .video-top p {
    display: none;
  }
  .video-center img {
    max-width: 728px;
    max-height: 329px;
    /* object-fit: cover; */
    object-position: center;
  }
  .play-big-button {
    width: 80px;
    height: 80px;
    top: 125px;
    left: 324px;
    background-size: contain;
  }
  /* video bar BIG */
  .video-bar {
    width: 728px;
    height: 56px;
  }
  .play-button,
  .play-button:hover,
  .play-button:active {
    width: 23px;
    height: 29px;
    top: 15px;
    left: 30px;
    background-size: contain;
  }

  .play-line {
    top: -5px;
    left: 0;
  }
  .play-line-red {
    width: 222px;
    height: 5px;
  }

  .play-line-white {
    width: 493px;
    height: 5px;
  }
  .audio-button,
  .audio-button:hover,
  .audio-button:active {
    width: 27px;
    height: 21px;
    top: 19px;
    left: 88px;
    background-size: contain;
  }
  .audio-line {
    top: 24px;
    left: 150px;
  }
  .audio-line-red {
    min-width: 190px;
    height: 5px;
  }
  .audio-line-dot {
    min-width: 13px;
    height: 13px;
  }
  .audio-line-white {
    min-width: 283px;
    height: 5px;
  }
  .fullscreen-button,
  .fullscreen-button:hover,
  .fullscreen-button:active {
    width: 27px;
    height: 27px;
    top: 16px;
    right: 30px;
    background-size: contain;
  }

  /* video bottom part */
  .video-bottom {
    padding-top: 21px;
    padding-bottom: 20px;
    gap: 20px;
    overflow-x: hidden;
  }
  /* video mini bars */
  .video-bottom-item {
    height: 199px;
  }
  .video-bottom img {
    width: 354px;
    height: 199px;
  }
  .youtube-play-button {
    top: 75px;
    left: 143px;
  }
  .video-text-container {
    top: 10px;
    left: 10px;
    width: 255px;
  }
  .video-text-left {
    row-gap: 5px;
  }
  .video-text p {
    line-height: 38px;
    padding-left: 5px;
    width: 188px;
    overflow: hidden;
    white-space: nowrap;
  }

  /* video dots */
  .video-dots {
    padding-bottom: 40px;
    align-items: center;
  }

  .circle-nav {
    width: 10px;
    height: 10px;
  }

  /* gallery section */
  .gallery-section {
    max-width: 984px;
    padding-bottom: 0;
  }
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
    max-height: calc(1080px + 40px);
    padding-top: 40px;
  }

  .gallery-grid img {
    max-width: 352px;
  }

   /* tickets section */

  .tickets-container {
    height: 430px;
    gap: 60px;
  }

  .tickets-left img {
    width: 444px;
    height: 340px;
    object-fit: cover;
  }

  .tickets-right-title {
    padding-bottom: 39px;
  }
  .tickets-right-r label {
    padding-top: 0px;
  }
  .price {
    padding-top: calc(39px - 25px);
    padding-bottom: 40px;
  }
  .span-price {
    padding-left: 16.17px;
  }


    /* contacts section */
  .contacts-section {
    width: 728px;
    padding-bottom: 67px;
  }
  .contacts-body-container {
    flex-direction: column;
    gap: 40px;
  }
  .contacts-body-top {
    margin-bottom: 40px;
  }
  .bold-text {
    font-size: 20px;
    line-height: 23px;
  }
  .contacts-body-bottom p,
  .contacts-body-bottom a {
    font-size: 18px;
    line-height: 21px;
  }
  .contacts-body-bottom p:not(:last-of-type) {
    margin-bottom: 15px;
  }
  .map-right {
    max-width: 728px;
    height: 476px;
  }
  .map-right img {
    width: 728px;
    height: 476px;
  }
  /* footer */
  .footer-container {
    width: 728px;
    padding-bottom: 40px;
  }
  .footer-top {
    padding-bottom: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 42px;
  }
  .footer-top-right {
    column-gap: 80px;
  }

  .navigation-list.nav-footer { 
    width: 393px;
    height: 121px;
    column-gap: calc(184px - 67px) ;
    margin-top: 17px;
  }
  .nav-footer a {
    font-size: 18px;
    line-height: 21px;
  }
  .nav-footer .nav-list-item {
    width: 71px;
  }
  .navigation-list.nav-footer li {
    padding-bottom: 0;
    padding-left: 19px;
  }
  .social-links {
    padding-left: 298px;
  }
  .footer-line {
    /* width: 120%; */
    max-width: 100%;
    /* margin-left: calc(-50vw + 50%); */
  }
  .footer-bottom {
    padding: 40px 0 0 0;
  }
}


/*  420 ---------------------------------------------------------------- */
@media (max-width: 420px) {
  .parallax {
    background-position: calc(100% + 37.5vw);
  }
  :root {
    --font1: 28px;
    --font2: 18px;
  }
  body {
    overflow-x: hidden;
  }
  .container {
    max-width: 380px;
  }
  
  h2 {
    font-size: var(--font1);
    line-height: 40px;
  }
  .logo {
    width: 131px;
    height: 20px;
  }
  .logo-svg {
    min-width: 29px;
    min-height: 16px;
    margin-bottom: 4px;
  }
  .logo-text {
    width: 82px;
    margin-top: 2px;
    font-size: 16px;
    line-height: 18px;
  }
  .header-container {
    padding: 35px 0;
  }
  /* welcome section */
  .welcome-section {
    padding-bottom: 20px;
  }
  .welcome-section h2 {
    line-height: 40px;
    margin-top: 5px;
  }
  .welcome-section p {
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 50px;
  }

  .welcome-image-mobile img {
    width: 100%;
    max-width: 380px;
    height: auto;
    max-height: 285px;
    display: block;
    margin-bottom: 20px;
  }
  .welcome-pagination-container {
    column-gap: 25px;

  }
  .pagination-text {
    column-gap: 5px;
    /* column-gap: 10px; */
    padding: 0;
    /* padding-right: 45px;
    padding-left: 224px; */
  }
  .pagination-text p {
    font-size: 16px;
    letter-spacing: 0px;
    margin: 0;
    padding: 0;
  }
  .pagination-squares {
    column-gap: 10px;
  }

  .pagination-squares-item {
    width: 7px;
    height: 7px;
  }
  .pagination-arrows {
    column-gap: 15px;
  }
  .pagination-arrow-left,
  .pagination-arrow-right {
    width: 20px;
  }


    /* virtual tour section */

  h3 {
    font-size: var(--font2);
    line-height: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
    letter-spacing: 5px;
  }

  .big-red-line {
    width: 380px;
  }
  .visiting-cards {
    margin-bottom: 0;
  }
  .visiting-item {
    height: 295px;
  }
  .visiting-item img {
    width: 280px;
    height: 180px;
  }
  .visiting-item-line {
    width: 150px;
    height: 2px;
  }
  .visiting-item p {
    font-size: 16px;
    line-height: 19px;
  }


/* explore section */
  .red-line-explore {
    max-width: 380px;
    margin-bottom: 40px;
  }

  .explore-right {
    width: 100%;
    max-width: 380px;
    min-height: 368px;
  }
  .slider-handle {
    background-image: url(assets/svg/explore-slider-768.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 368px;
  }
   /* video section */
  .video-section {
    /* width: 380px; */
    padding-top: 36px;
  }
  .video-top {
    padding-bottom: 20px;
  }
  .video-top p {
    display: none;
  }
  .video-center img {
    max-width: 380px;
    max-height: 172px;
  }
  .play-big-button {
    width: 50px;
    height: 50px;
    top: 61px;
    left: 165px;
  }
  /* video bar BIG */
  .video-bar {
    width: 380px;
    height: 54px;
  }
  .play-button,
  .play-button:hover,
  .play-button:active {
    width: 14px;
    height: 18px;
    top: 20px;
    left: 20px;
  }

  .play-line {
    top: -3px;
  }
  .play-line-red {
    width: 148px;
    height: 4px;
  }
  .play-line-dot {
    width: 10px;
    height: 10px;
  }
  .play-line-white {
    width: 222px;
    height: 4px;
  }
  .audio-button,
  .audio-button:hover,
  .audio-button:active {
    width: 18px;
    height: 14px;
    top: 22px;
    left: 63px;
  }
  .audio-line {
    top: 24px;
    left: 112px;
  }
  .audio-line-red {
    min-width: 76px;
    height: 4px;
  }
  .audio-line-dot {
    min-width: 10px;
    height: 10px;
  }
  .audio-line-white {
    min-width: 114px;
    height: 4px;
  }
  .fullscreen-button,
  .fullscreen-button:hover,
  .fullscreen-button:active {
    width: 18px;
    height: 18px;
    top: 20px;
    right: 20px;
  }

  /* video bottom part */
  .video-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
    overflow-x: hidden;
  }
  /* video mini bars */
  .video-bottom-item {
    height: 101px;
  }
  .video-bottom img {
    width: 180px;
    height: 101px;
  }
  .youtube-play-button {
    width: 68px;
    height: 48px;
    top: 27px;
    left: 56px;
    z-index: 3;
  }
  .video-text-container {
    top: 10px;
    left: 10px;
    width: 255px;
  }
  .video-text-left {
    row-gap: 0;
  }
  .video-text p {
    font-size: 18px;
    line-height: 38.5px;
    width: 108px;
    overflow: hidden;
    white-space: nowrap;
  }
  .video-bar-dots {
    display: none;
  }

  /* video dots */
  .video-dots {
    padding-bottom: 0;
  }
  .double-arrow {
    width: 7px;
    height: 8px;
  }
  .circle-nav {
    width: 8px;
    height: 8px;
  }

  /* gallery section */
  .gallery-section {
    max-width: 380px;
  }
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
    max-height: calc(637px + 40px);
  }

  .gallery-grid img {
    max-width: 352px;
  }

   /* tickets section */

  .tickets-container {
    max-height: 576px;
    height: 100%;
    gap: 40px;
    flex-direction: column;
  }
  .tickets-left {
    height: 160px;
  }
  .tickets-left img {
    width: 380px;
    height: 160px;
    object-fit: cover;
  }
  .tickets-right {
    justify-content: center;
    width: 380px;
  }
  .tickets-right-title {
    padding-bottom: 20px;
    
  }
  .tickets-right p {
    font-size: 16px;
    line-height: 19px;
    margin-left: 59px;
  }
  label {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0;
  }
  .price {
    padding-top: calc(40px - 20px);
    padding-bottom: 40px;
  }
  p.price {
    margin-left: 47px;
    letter-spacing: 0;
  }
  .span-price {
    padding-left: 3px;
  }
  .tickets-right-r label {
    padding-bottom: 15px;
  }
  .amount-form-container {
    gap: 20px;
  }
  .button-buy-now button {
    font-size: 16px;
    line-height: 0;
  }
    /* contacts section */

  .contacts-section {
    padding-bottom: 40px;
  }
  .bold-text {
    font-size: 16px;
    line-height: 19px;
  }
  .contacts-body-bottom p,
  .contacts-body-bottom a {
    font-size: 16px;
    line-height: 19px;
  }
  .contacts-body-bottom p:not(:last-of-type) {
    margin-bottom: 15px;
  }
  .map-right {
    max-width: 380px;
    height: 248px;
  }
  .map-right img {
    width: 380px;
    height: 248px;
  }

  /* footer */
  .footer-top-right .logo {
    gap: 20px;
  }
  .footer-top {
    padding-bottom: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }
  .footer-top-right {
    flex-direction: column;
    gap: 40px;
  }

  .navigation-list.nav-footer {
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 68px;
    column-gap: 87px;
    justify-content: space-between;
    margin-top: 0;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 19px;
  }
  .nav-footer a {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
  }
  .nav-footer .nav-list-item {
    width: auto;
  }
  .navigation-list.nav-footer li {
    padding-bottom: 0;
    padding-left: 0;
  }
  .social-links-list {
    column-gap: 5px;
  }
  .social-links {
    padding-left: 60px;
  }
  .footer-line {
    /* width: 120%; */
    max-width: 100%;
    /* margin-left: calc(-50vw + 50%); */
  }
  .footer-link-rss {
    display: none;
  }
  .footer-bottom {
    padding: 40px 0 0 4px;
  }
  .footer-bottom p {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 2px;
  }
}