@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto-Regular.ttf");
  font-weight: 300;
}
@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: Forum;
  src: url("assets/fonts/Forum-Regular.ttf");
  font-weight: 400;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
:root {
  --bg-dark: #030303;
  --dark-red: #710707;
  --font-gold: #9d8665;
  --font-active: #7E6C51;
  --font-white: #ffffff;
  --font1: 80px;
  --font2: 32px;
}
.white {
  color: var(--font-white);
}
.gold {
  color: var(--font-gold);
}
/* header, main, footer {
  margin: 0 auto;


} */
/* header styles start */
.dark-bgr {
  background: var(--bg-dark);
  width: 100%;

}
.white-bgr {
  background: var(--font-white);
  width: 100%;

}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 150px;
  width: 1440px;

}

.logo {
  display: flex;
  gap: 25px;

}
.logo-svg {
  width: 49px;
  height: 26px;
  background-image: url("assets/svg/logo.svg");
}
.logo-text {
  text-transform: uppercase;
  text-decoration: none;
  font-family: Forum;
  font-weight: 400;
  color: var(--font-white);
  font-size: 28px;
  letter-spacing: 5px;
}
.navigation-list {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  gap: 55px;
  max-width: 775px;
  list-style: none;
  padding: 0;
}
.nav-list-item a {
  text-decoration: none;
  color: var(--font-white);
}
.nav-list-item a:hover {
  text-decoration: none;
  color: var(--font-gold);
}
.nav-list-item a:active {
  text-decoration: none;
  color: var(--font-active);
}
/* header styles end */
.dark-section {
  background: #030303;
}
.welcome-section {
  margin: 0 auto;
  width: 1440px;
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.50) 16.19%, rgba(0, 0, 0, 0.00) 30.73%),
  url(assets/img/welcome-slider/1.jpg);
  background-repeat: no-repeat;
  /* Set the size of the gradient */
  background-size: 1000px;
  /* Position both the gradient and the image to the right */
  background-position: right, right top; 

}
.title-hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
h2 {
  text-transform: uppercase;
  font-family: Forum;
  font-weight: 400;
  font-size: 80px;
  letter-spacing: 5px;
  margin: 0;
}
/* .section {
  padding: 75px auto;
} */

.welcome-section h2 {
  padding-top: 150px;
  padding-bottom: 25px;
}
.section-title {
  padding-top: 75px;
}
.welcome-section p {
  color: var(--font-white);
  font-family: Roboto;
  font-size: 28px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 0;
  padding-bottom: 75px;
}
.welcome-section a {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 2px;
  color: var(--font-white);
  text-decoration: none;
  margin-bottom: 272px;
}
.welcome-discover-button {
  display: inline-block;
  padding: 26.5px 64px;
  background-color: var(--dark-red);
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}
.welcome-discover-button:hover {
  background-color: var(--font-gold);
}

/* virtual tour section */

.visiting-section {
  margin: 0 auto;
  width: 1440px;
}
.visiting-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 75px auto;
  row-gap: 75px;

}
h3 {
  font-family: Forum;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 5px;
  color: var(--bg-dark);
  text-transform: uppercase;
  margin: 0;
  padding-top: 25px;
}
.visiting-item {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 100;
  color: var(--bg-dark);
}
.visiting-item p {
  margin: 0;
  padding-bottom: 10px;
}
.visiting-item a {
  text-decoration: none;
  color: var(--bg-dark);
}
.visiting-item a:hover {
  color: var(--font-gold);
}
.visiting-item a:active {
  color: var(--font-active);
}

/* explore section */

.explore-section {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin: 0 auto;
  width: 1440px;
}

.explore-section p {
  color: var(--font-white);
  font-family: Roboto;
  font-size: 22px;
  font-weight: 300;
  line-height: 38.5px;
  margin: 0;
}
.gold-text {
  color: var(--font-gold);
}
.explore-left {
  width: 660px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.explore-right {
  padding: 90px 0 75px;
}
/* slider */
.explore-right {
    position: relative;
    width: 720px;
    height: 700px;

    margin: auto;
    overflow: hidden;
}

.explore-slider {
    position: relative;
}

.explore-slider img {
    display: block;
}

.before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.after {
    position: absolute;
    top: 0;
    left: 0;
    clip: rect(0, 720px, 700px, 280px);
    z-index: 2;

}

.slider-handle {
    position: absolute;
    top: 0;
    left: 440px; /* Starting position of the handle */
    width: 2px;
    height: 700px;
    background-color: rgb(250, 250, 250);
    cursor: ew-resize; /* Change cursor style when hovering over the handle */
    z-index: 3;
}

/* video section */
.video-section {
  margin: 0 auto;
  width: 1440px;
}

.video-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 75px;

}

.video-top p {
  overflow-wrap: break-word;
  margin: 0;
  color: var(--bg-dark);
  font-family: Roboto;
  font-size: 22px;
  font-weight: 300;
  line-height: 38.5px;
  vertical-align: middle;
  width: 720px;
  margin: 0;
}
.video-center {

}
.video-center img {
  width: 1440px;
  height: 650px;
}
.video-bar {
 width: 1440px;
 height: 85px;
 background-color: #000000;
}
.video-bottom {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}
.video-bottom img {
  width: 452px;
  height: 254px;
}

.video-dots {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 75px;
}

.double-arrow {
  background-image: url(assets/svg/additional/double-arrow.svg);
  width: 10px;
  height: 12px;
}
.double-arrow.rotate {
  transform: rotate(180deg);
}
.circle-nav {
  width: 12px;
  height: 12px;
  background-color: #999999;
  border-radius: 50%;
}
.first-circle-nav {
  background-color: #333333;
}
/* gallery section */
.gallery-section {
  margin: 0 auto;
  width: 1440px;
}

/* tickets section */
.tickets-section {
  margin: 0 auto;
  width: 1440px;
}

/* contacts section */
.contacts-section {
  margin: 0 auto;
  width: 1440px;
}
.contacts-body-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 74px;
  font-family: Roboto;
}
.contacts-body-top {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 50px;
}
.bold-text {
  margin: 0;
}
.contacts-body-bottom p,
.contacts-body-bottom a {
  font-size: 22px;
  font-weight: 300;
  text-decoration: none;
  color: var(--bg-dark);
  margin: 0;
}
.contacts-body-bottom a:hover {
  color: var(--font-gold);
}
.contacts-body-bottom a:active {
  color: var(--font-active);
}

.contacts-body-bottom p:not(:last-of-type) {
  margin-bottom: 25px;
}
/* footer */
.footer-container {
  padding-top: 75px;
  margin: 0 auto;
  width: 1440px;
  display: flex;
  flex-direction: column;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}
.nav-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 25px;
  height: 130px;
  column-gap: 150px;
}

.social-links-list {
  list-style: none;
  display: flex;
  column-gap: 25px;
}

.youtube {
  display: flex;
  height: 24px;
  width: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(assets/svg/youtube.svg);
}
.instagram {
  display: flex;
  height: 24px;
  width: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(assets/svg/instagram.svg);
}
.facebook {
  display: flex;
  height: 24px;
  width: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(assets/svg/facebook.svg);
}
.twitter {
  display: flex;
  height: 24px;
  width: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(assets/svg/twitter.svg);
}
.pinterest {
  display: flex;
  height: 24px;
  width: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(assets/svg/pinterest.svg);
}


.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-family: Roboto;
  color: var(--font-white);
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: 200;
  padding: 50px 0;
}

.footer-bottom p {
  margin: 0;
}